@tailwind base;
@tailwind components;
@tailwind utilities;
/* React Quill dropdown scroll fix */
.ql-picker-options {
  max-height: 200px;      /* adjust if needed */
  overflow-y: auto;
}

.ql-picker-options::-webkit-scrollbar {
  width: 6px;
}
.prose table { width: 100%; border-collapse: collapse; }
.prose th, .prose td { border: 1px solid #e5e7eb; padding: 8px; text-align: left; }
.prose th { background: #f3f4f6; }

.ql-picker-options::-webkit-scrollbar-thumb {
  background-color: #cbd5e1; /* tailwind gray-300 */
  border-radius: 4px;
}

.ql-picker-options::-webkit-scrollbar-track {
  background: transparent;
}
.ql-toolbar {
  position: sticky;
  top: 0;
  z-index: 10;
  background: white;
}
